body {
  background-color: black;
  max-width: 1920px;
  max-height: 1080px;
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  margin: 0 auto;
  display: block;
  width: 1250px;
  background: transparent;
}

#play-button {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 400px;
}

.hidden {
  display: none !important;
}

#game-over {
  position: relative;
  width: 50px;
  margin: 0 auto;
  top: 300px;
}

img {
  position: relative;
    top: -406px;
    z-index: -1;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);
