canvas {
  border: 3px solid #282828;
  margin: 0 auto;
  display: block;
  width: 1250px;
}

#play-button {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 400px;
}

.hidden {
  display: none !important;
}

#game-over {
  position: relative;
  width: 50px;
  margin: 0 auto;
  top: 300px;
}
