body {
  background-color: black;
  max-width: 1920px;
  max-height: 1080px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
}

#canvases {
  display: flex;
}

#field {
  margin: 0 auto;
  display: block;
  width: 1250px;
  background: transparent;
}

img {
  position: relative;
    top: -450px;
    z-index: -1;
}

#life-bar {
  border: 0px solid red;
  position: absolute;
  margin: 50px 0px 0px 50px;
  box-shadow: 0 0 30px #FF0000;
  border-radius: 8px;
}

#score {
  box-shadow: 0 0 30px #1ba8f0;
  position: absolute;
  margin: 50px 0px 0px 130px;
  border-radius: 8px;
}

#high-score {
  position: relative;
  top: 82px;
  display: flex;
  margin: 0 540px;
  background: white;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  justify-content: center;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

#name {
  height: 50px;
  margin-right: 30px;
  text-align: center;
  opacity: 50%;
  opacity: 1;
  border: 0px;
  font-family: Righteous;
  color: #1ba8f0;
  font-size: 30px;
  text-shadow: #1ba8f0 0 0 5px;
}

#name:focus {
  outline: none;
}

#high-score-button {
  background: transparent;
  border: 0px;
  font-family: Righteous;
  font-size: 15px;
  cursor: pointer;
}

#score-list {
  position: absolute;
  top: 0px;
  right: 25px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  height: 720px;
  overflow-y: hidden;
}

#score-list h3 {
  color: #1ba8f0;
  font-family: Righteous;
  text-shadow: 0 0 10px #1ba8f0;
  opacity: .9;

}

.score-li {
  color: #1ba8f0;
  font-family: Righteous;
  width: 210px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.score-li p {
  margin: 5px 0px;
  opacity: .6;
}

@import url(https://fonts.googleapis.com/css?family=Righteous);
